.custom-checkbox {
  width: 30px;
  height: 30px;
  appearance: none;
  border: 2px solid rgba(0, 128, 128, 0.5); /* Border color */

  cursor: pointer;
}

.custom-checkbox:checked {
  width: 30px;
  height: 30px;
  appearance: none;
  background-color: rgb(175, 255, 255);
  color: black;
  cursor: pointer;
  font-size: 30px;
}
